<%- include ('header') -%>
<%- include ('navbar') -%>
<%- include ('footer') -%>


<div class="mx-auto" style="width: 300px;">
    <h2>Nuestra Historia</h2>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">

                <img src="img/nuestrahistoria/1.jpg" width="200" style="float: left; margin-right: 5px;">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis quam
                    repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia aliquid
                    corrupti eligendi. A, doloribus laboriosam!</p>
            </div>
        </div>
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1989
        </button>
    </div>
</div>


<div class="row mt-3">
    <div class="col col-md-5">
    </div>

    <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
            1994
        </button>
    </div>

    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis quam
                    repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia aliquid
                    corrupti eligendi. A, doloribus laboriosam!</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis
                        quam
                        repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia aliquid
                        corrupti eligendi. A, doloribus laboriosam!</p>
                </div>
            </div>
        </div>

        <div class="col col-md-2 text-center">
            <button class="btn btn-primary">
                1999
            </button>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col col-md-5">
        </div>

        <div class="col col-md-2 text-center">
            <button class="btn btn-primary">
                2004
            </button>
        </div>

        <div class="col col-md-5">
            <div class="card">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis
                        quam
                        repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia aliquid
                        corrupti eligendi. A, doloribus laboriosam!</p>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col col-md-5">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis
                            quam
                            repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia
                            aliquid
                            corrupti eligendi. A, doloribus laboriosam!</p>
                    </div>
                </div>
            </div>

            <div class="col col-md-2 text-center">
                <button class="btn btn-primary">
                    2009
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col col-md-5">
            </div>

            <div class="col col-md-2 text-center">
                <button class="btn btn-primary">
                    2014
                </button>
            </div>

            <div class="col col-md-5">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum veritatis
                            quam
                            repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia
                            aliquid
                            corrupti eligendi. A, doloribus laboriosam!</p>
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolores dolorum
                                veritatis quam
                                repudiandae fuga ipsum dicta quae fugiat, voluptatem nobis numquam accusantium mollitia
                                aliquid
                                corrupti eligendi. A, doloribus laboriosam!</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-2 text-center">
                    <button class="btn btn-primary">
                        2019
                    </button>
                </div>
            </div>
        </div>

<p style="height: 400px;"></p>
<%- include ('pie') -%>





